<div class="head">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo"></div>
                <a class="brand" href="#">Ansari Faheem </a>
                <a class="profession" href="#"> <span class="slash">/</span>FRONT END DEVELOPER</a>
            </div>
            <div class="col-lg-6 pdseting">
                <input type="checkbox" id="check">
                <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
                <ul>
                    <li>
                        <a href="#" routerLink="about">ABOUT ME</a>
                    </li>
                    <li>
                        <a href="#" routerLink="resume">RESUME</a>
                    </li>
                    <li>
                        <a href="#" routerLink="projects">PROJECTS</a>
                    </li>
                    <li>
                        <a href="#" routerLink="contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>