<div class="container">
    <div class="row">
        <div class="col-lg-6 secured">
            <p style="font-size:14px; padding: 10px;">© 2035 by Ansari Faheem.<br>
                Powered and secured by Me</p>
        </div>
        <div class="col-lg-6 footer-info">
            <div class="info">
                <div class="footer-head">Call</div>
                <div class="footer-contact">
                    848-395-4828
                </div>
            </div>
            <div class="info">
                <div class="footer-head">Write</div>
                <div class="footer-contact">
                    ansarifaheem553@gmail.com
                </div>
            </div>
            <div class="info">
                <div class="footer-head">Follow</div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/ansari-faheem-/"><i
                                    class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.instagram.com/mr__fayyum/"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>