<div class="container">
    <div class="row">
        <div class="col-lg-5 left-section">
            <div class="profile">
                <img src="/assets/Images/IMG20220730000006.jpg" alt="There is Image">
                <h3>
                    Ansari Faheem
                </h3>
                <p>FRONTEND DEVELOPER</p>
                <ul>
                    <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ansari-faheem-/" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.instagram.com/mr__fayyum/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-7  rigth-section">
            <div class="hello">
                <h5>Hello</h5>
            </div>
            <div class="do">
                <p>Here's who I am & what I do</p>
            </div>
            <div class="buttons">
                <a class="primrybtn" href="" routerLink="/resume">RESUME</a>
                <a class="secondarybtn" href="" routerLink="/projects">PROJECTS</a>
            </div>
            <div class="experince">
                <p>Experienced front end developer with 6 month of expertise in developing user
                    friendly web application and maintenance. Adept in responsive designs and cross
                    browser capability proficient in front end technologies such as HTML CSS and
                    JavaScript along with its framework and libraries like angular, angular router,
                    bootstrap strong collaborator with cross functional teams and problem solving skills.
                </p>
            </div>
        </div>
    </div>
</div>