<div class="resume-section">
    <div class="resume-head">
        <div class="logo"></div>
        <p class="brand">Projects </p>
    </div>
    <div class="company">
        <div class="companydetail">
            <div class="month">
                <p class="date">E-commerce Website</p>

                <div class="jobposition">
                    <h6>Duration</h6>
                    <p>5 Day</p>
                    <div class="companyname">
                        <h6>technology used in project</h6>
                        <p>HTML CSS TypeScript Angular</p>
                    </div>
                    <!-- <div class="companylocation">
                    <h6>Company Location</h6>
                    <p>Thane Maharashtra</p>
                </div> -->
                </div>
            </div>
            <div class="work">
                <ul>
                    <li> fetched the products using rapid API and managed it in website page. </li>
                    <li> added add to cart functionality page to this website. Where user can
                        add multiple products also added empty cart shop more checkout
                        buttons.</li>
                    <li>Added Search Box Products Filter Functionality.</li>
                </ul>
                <a href="https://coruscating-pika-7784a1.netlify.app" target="_blank">Click To See</a>
            </div>
        </div>
    </div>
    <div class="company">
        <div class="companydetail">
            <div class="month">
                <p class="date">Tech Diary</p>

                <div class="jobposition">
                    <h6>Duration</h6>
                    <p>3 Day</p>
                    <div class="companyname">
                        <h6>technology used in project</h6>
                        <p>HTML CSS TypeScript Angular</p>
                    </div>
                    <!-- <div class="companylocation">
                    <h6>Company Location</h6>
                    <p>Thane Maharashtra</p>
                </div> -->
                </div>
            </div>
            <div class="work">
                <ul>
                    <li> It is a Single Page Application (SPA), In Home Page Where User Can Save His
                        Task With Date Time and Edit Functionality. </li>
                    <li> Drag and drop functionality where you can move your task in different section like in progress
                        to done.</li>
                </ul>
                <a href="https://subtle-malabi-8e132d.netlify.app/" target="_blank">Click To See</a>
            </div>
        </div>
    </div>
</div>