<div class="resume-section">
    <div class="resume-head">
        <div class="logo"></div>
        <p class="brand">Let's talk</p>
    </div>
    <div class="company">
        <form>
            <div class="FLname">
                <div class="Fname"><label>First Name</label><span
                        style="color: rgba(0, 80, 255); margin: 3px; font-weight: bolder;">*</span>
                    <div class="pUnTVX"><input name="first-name" type="text" placeholder="" size="30" required=""
                            aria-required="true" maxlength="100" value=""></div>
                </div>
                <div class="Lname"><label>Last Name</label><span
                        style="color: rgba(0, 80, 255); margin: 3px; font-weight: bolder;">*</span>
                    <div class="pUnTVX"><input name="last-name" type="text" placeholder="" size="30" required=""
                            aria-required="true" maxlength="100" value=""></div>
                </div>
            </div>
            <div class="ES"><label>Email</label><span
                    style="color: rgba(0, 80, 255); margin: 3px; font-weight: bolder;">*</span>
                <div class="pUnTVX"><input name="email" type="email" placeholder="" size="73" required=""
                        aria-required="true" pattern="^.+@.+\.[a-zA-Z]{2,63}$" maxlength="250" value=""></div>
            </div>
            <div class="ES"><label>Subject</label>
                <div class="pUnTVX"><input name="subject" type="text" placeholder="" size="73" aria-required="false"
                        value=""></div>
            </div>
            <div><label>Message</label><textarea placeholder="" aria-required="false" rows="5" cols="77"></textarea>
            </div>
            <div><button aria-disabled="false" data-testid="buttonElement"><span>SEND</span></button></div>
            <!-- <div>
                        <p style="font-size:14px;"><span
                        >Thanks for submitting!</span></p>
                    </div> -->

        </form>
    </div>
</div>