<div class="resume-section">
    <div class="resume-head">
        <div class="logo"></div>
        <p class="brand">Resume </p>
    </div>
    <div class="experincehead">
        <div class="experince">
            <p>Experience</p>
        </div>
        <div class="download">
            <a href="/assets/resume/Ansari faheem.pdf" target="_blank">DOWNLOAD CV</a>
        </div>
    </div>
    <div class="company">
        <div class="companydetail">
            <div class="month">
                <p class="date">August 2022-March 2023</p>

                <div class="jobposition">
                    <h6>JOB POSITION</h6>
                    <p>Front End Developer</p>
                    <div class="companyname">
                        <h6>Company Name</h6>
                        <p>TECHCHARM INDIA Private Ltd</p>
                    </div>
                    <div class="companylocation">
                        <h6>Company Location</h6>
                        <p>Thane Maharashtra</p>
                    </div>
                </div>
            </div>
            <div class="work">
                <ul>
                    <li> learned Angular Framework in this Company and I Managed Front End Side
                        Code . </li>
                    <li> I Increased My JavaScript Experience.</li>
                    <li> I Did SEO Work So That The Website Gets Ranking I Created Backlinks For
                        The Website . </li>
                    <li> I Use Google Analytics and Google Search Console to See Website Ranking
                        Report .</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="education">
        <p>Education</p>
    </div>
    <div class="company">
        <div class="companydetail">
            <div class="month">
                <p class="date">2019 - 2022</p>

                <div class="jobposition">
                    <h6>UNIVERSITY NAME</h6>
                    <p>Mumbai University</p>
                    <div class="companyname">
                        <h6>Degree Level</h6>
                        <p>BSC (Information technology)</p>
                    </div>
                    <div class="companylocation">
                        <h6>University Location</h6>
                        <p>Thane Maharashtra</p>
                    </div>
                </div>
            </div>
            <div class="work">
                <div class="project">Project Completed</div>
                <ul>
                    <li> fetched the products using rapid API and managed it in website page. </li>
                    <li>added add to cart functionality page to this website. Where user can
                        add multiple products also added empty cart shop more checkout
                        buttons.</li>
                    <li> Added Search Box Products Filter Functionality. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="company">
        <div class="languages">
            <h5>Programming Languages </h5>
            <div class="left-section">
                <div class="logo"></div>
                <p>HTML</p>
                <div class="logo"></div>
                <p>CSS</p>
                <div class="logo"></div>
                <p>JavaScript</p>
            </div>
            <div class="rigth-section">
                <div class="logo"></div>
                <p>Angular</p>
                <div class="logo"></div>
                <p>Bootstrap</p>
            </div>
        </div>
        <div class="languages">
            <h5>Languages </h5>
            <div class="left-section">
                <div class="logo"></div>
                <p>Hindi(Native)</p>
                <div class="logo"></div>
                <p>Urdu(Native)</p>
            </div>
            <div class="rigth-section">
                <div class="logo"></div>
                <p>English(Fluent)</p>
            </div>
        </div>
    </div>
</div>